@font-face {
  font-family: "GothamPro";
  src: url("./fonts/GothamPro-Regular.ttf");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "GothamPro";
  src: url("./fonts/GothamPro.ttf");
  font-style: normal;
  font-weight: 400;
}
